/* reset.css */
div, span, input, h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

/* structure.css */
body{
  margin: 0 auto;
  width: 940px;
  font-size: 16px;
  color: #444;
  padding: 20px;
}
#upper_area{
  margin: 10px 0;
  border: 1px dashed;
}
#upper_area > #right_side{
  float: right;
}

#side_panel{
  border: 1px dashed;
}

/* headings.css */
#website_title{
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}
h1{
  font-size: 25px;
}

/* navigation.css */
a{
  color: inherit !important;
}
